<div class="container">
<%= form_for :user do |f| %>
  <div class="field">
  Username: <%= f.text_field :username, placeholder: 'Username', class: 'input' %><br />
  </div>
  <div class="field">
  Email : <%= f.text_field :email, placeholder: 'E-mail', class: 'input' %><br />
  </div>
  <div class="field">
  Password : <%= f.text_area :password, placeholder: 'Password', class: 'input' %><br />
  </div>
  <%= f.submit("Create user", class: "button is-primary" ) %>
<% end %>
</div>
